//background-colors;
$bgc-body: red;
$bgc-header: blue;
$bgc-content: yellow;
$bgc-footer: gray;
$bgc-sidebar: green;
$fixed-height: 70px;
// $header-top-fixed-height: 50px;
$b-container-max-width: 800px;
$sidebar-left-width: 200px;
$sidebar-right-width: 450px;